@import "../../index.scss";

.home-top {
  display: flex;
  justify-content: space-between;
}

.home-top-left {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  max-width: 40%;

  .title {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .description {
    color: $grayish-purple;
  }

  button {
    background-color: $cyan;
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 20px;
    transition: $transition;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    width: 50%;

    &:hover {
      background-color: hsl(180, 43%, 63%);
    }
  }
}

.home-top-right {
  max-width: 40%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 998px) {
  .home-top {
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
  }

  .home-top-right {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    order: 1;
    margin-left: 125px;
    clear: right;
  }

  .home-top-left {
    max-width: 100vw;
    order: 2;
    text-align: center;
    align-items: center;
  }

  .home-top-right > img {
    max-width: 100vw;
  }
}
