@import "../../index.scss";

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-left {
    @include flexCenter();

    a {
      padding: 0px 15px;
      color: $grayish-purple;
      cursor: pointer;
      transition: $transition;
      text-decoration: none;

      &:hover {
        color: $very-dark-purple;
      }
    }

    img {
      margin-right: 30px;
    }
  }

  .header-right {
    @include flexCenter();

    button {
      color: $grayish-purple;
      padding: 7px 15px;
      border: none;
      border-radius: 20px;
      margin: 15px;
      transition: $transition;
      cursor: pointer;
      font-size: 18px;

      &:hover {
        background-color: $cyan;
        color: white;
      }
    }

    .button-cyan {
      background-color: $cyan;
      color: white;

      &:hover {
        background-color: hsl(180, 43%, 63%);
      }
    }
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  color: $grayish-purple;
  font-size: 25px;
}

.mobile-href {
  display: none;
}

@media only screen and (max-width: 998px) {
  .hamburger {
    display: block;
  }

  .header-href {
    display: none;
  }

  .header {
    justify-content: space-between;
  }

  .header-right {
    button {
      display: none;
    }
  }

  .mobile-href {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: $dark-violet;
    color: white;
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;

    a {
      padding: 10px;
      color: white;

      &:hover {
        text-decoration: none;
        color: white;
      }
    }

    .a-cyan {
      background-color: $cyan;
      color: white;
      padding: 7px 15px;
      border: none;
      border-radius: 20px;
      margin: 15px;
      transition: $transition;
      cursor: pointer;
      font-size: 18px;
      width: 80%;
    }

    hr {
      height: 1px;
      border: none;
      color: hsl(254, 11%, 46%);
      background-color: hsl(254, 11%, 46%);
      width: 90%;
    }
  }
}
